<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransparentBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TransparentBrowser.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value />
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="canresize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showhelp" serializeAs="String">
                <value>True</value>
            </setting>
        </TransparentBrowser.Properties.Settings>
    </userSettings>
</configuration>